<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="stylesheet" href="css/app.css">
		<title>Livros</title>
	</head>
	<body>
		<div id="app">

			<p>
				<button @click="openDialogAdd">Adicionar</button>
			</p>

			<p>
				<label for="busca">Buscar:</label>
				<br>
				<input type="text" v-model="busca" id="busca">
			</p>

			<p v-if="loading">Carregando...</p>

			<table cellpadding="5" border="1">
				<tr>
					<th>Título</th>
					<th>Autor</th>
					<th>Ano</th>
					<th>Descrição</th>
					<th colspan="2">Ação</th>
				</tr>
				<tr v-for="livro in livros">
					<td>{{livro.titulo}}</td>
					<td>{{livro.autor}}</td>
					<td>{{livro.ano}}</td>
					<td>{{livro.descricao}}</td>
					<td>
						<button @click="remove(livro._id)">Remover</button>
					</td>
					<td>
						<button @click="openDialogEdit(livro._id)">Editar</button>
					</td>
				</tr>
				<tr v-if="livros.length == 0">
					<td colspan="6">Sem livros</td>
				</tr>
			</table>

			<dialog :open="dialogAdd">
				<form @submit.prevent="insert">
					<p>
						<label for="add_titulo">Título:</label>
						<br>
						<input type="text" v-model="addTitulo" id="add_titulo" required>
					</p>
					<p>
						<label for="add_autor">Autor:</label>
						<br>
						<input type="text" v-model="addAutor" id="add_autor" required>
					</p>
					<p>
						<label for="add_ano">Ano:</label>
						<br>
						<input type="number" min="1000" :max="anoMaximo" v-model="addAno" id="add_ano" required>
					</p>
					<p>
						<label for="add_descricao">Descrição:</label>
						<br>
						<textarea v-model="addDescricao" id="add_descricao"></textarea>
					</p>
					<button type="submit">Adicionar livro</button>
					<button type="button" @click="dialogAdd = false">Cancelar</button>
				</form>
			</dialog>

			<dialog :open="dialogEdit">
				<form @submit.prevent="update">
					<p>
						<label for="edit_titulo">Título:</label>
						<br>
						<input type="text" v-model="editTitulo" id="edit_titulo" required>
					</p>
					<p>
						<label for="edit_autor">Autor:</label>
						<br>
						<input type="text" v-model="editAutor" id="edit_autor" required>
					</p>
					<p>
						<label for="edit_ano">Ano:</label>
						<br>
						<input type="number" min="1000" :max="anoMaximo" v-model="editAno" id="edit_ano" required>
					</p>
					<p>
						<label for="edit_descricao">Descrição:</label>
						<br>
						<textarea v-model="editDescricao" id="edit_descricao"></textarea>
					</p>
					<button type="submit">Atualizar livro</button>
					<button type="button" @click="dialogEdit = false">Cancelar</button>
				</form>
			</dialog>

		</div>
		<script src="js/lib/vue.min.js"></script>
		<script src="js/lib/axios.min.js"></script>
		<script src="js/app.js"></script>
	</body>
</html>